
body,
  html {
    font-family: "Montserrat", sans-serif, !important;
    background: url("../Images/bg_bggenerator_com\ \(1\).jpg") 
    no-repeat fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: inherit;
    font-size: 16px;
    width: auto;
    height: 100%;
  }

  

  #welcomePage{
    background-color: #6b5b95;
     background-image: url("../Images/gaming-logo-maker-featuring-an-alien-illustration-1877p-2931.png"); 
    background-repeat: no-repeat;
    background-size: contain;
    
    background-attachment: fixed;
    background-position: center;
  }
 
  h2 {
    font-style: oblique;
    font-size: 40px;
    padding: 20px 0;
    color: rgb(232, 232, 240);
    text-align: center;
  }
  
  .task-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
  }
  
  .task-bottom {
    display: flex;
    flex-direction: row;
    align-self: right;
    justify-content: space-between;
    margin-top: 18px;
  }
  
  .task {
    display: inline-block;
    font-weight: lighter;
    text-align: left;
    justify-content: center;
    align-items: center;
    padding-right: initial;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 470px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .form-group {
    font-weight: lighter;
    font-size: 22px;
    color: rgba(37, 37, 40, 0.959);
  }
  .list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    background-color: rgb(33 35 47 / 80%);
    border: 2px solid white;
    border-radius: 20px;
    color: rgb(238, 235, 235);
}
  
.list-group-item:first-child {
  background-color: rgb(33 35 47 / 80%);
  border-radius: 20px;
  margin-top: 20px;
  color: rgb(238, 235, 235);
}

.form-task{
  background-color: rgb(33 35 47 / 80%);
  border: 2px solid white;
  margin-top: -100px;
  border-radius: 25px;
  width: 520px;
  margin-left: 500px;
  height: 540px;

}
form{
  justify-content: space-between;
  width: 480px;
}  

#assigned{
  margin-left: 20px;
}

#duedate{
  margin-left: 60px;
}

.btn-block {
  display: block;
  width: 70%;
  margin-left: 70px;
}



button {
    margin: auto;
    
  }
  .custom-btn {
    justify-content: center;
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: fixed;
    margin: auto;
    bottom: 0;
    right: 0;
    left: 0;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
.btn-3 {
    background: #a3accc;
  background: linear-gradient(0deg, #6b5b95 0%, #a3accc 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    
  }
  .btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-3:before,
  .btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
     background: #a3accc;
    transition: all 0.3s ease;
  }
  .btn-3:before {
    height: 0%;
    width: 2px;
  }
  .btn-3:after {
    width: 0%;
    height: 2px;
  }
  .btn-3:hover{
     background: transparent;
    box-shadow: none;
  }
  .btn-3:hover:before {
    height: 100%;
  }
  .btn-3:hover:after {
    width: 100%;
  }
  .btn-3 span:hover{
     color: #a3accc;
  }
  .btn-3 span:before,
  .btn-3 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
     background: #a3accc;
    transition: all 0.3s ease;
  }
  .btn-3 span:before {
    width: 2px;
    height: 0%;
  }
  .btn-3 span:after {
    width: 0%;
    height: 2px;
  }
  .btn-3 span:hover:before {
    height: 100%;
  }
  .btn-3 span:hover:after {
    width: 100%;
  }

  .btn-outline-warning {
    color: rgb(245, 186, 10);
    border-color: rgb(254, 192, 8);
}

.tas{
  text-align: center;
  font-size: 40px;
  border: 2px solid white;
  justify-content: space-between;
  width: 520px;
  border-radius: 25px;
  color: rgb(235 225 225);
  background-color: rgb(33 35 47 / 80%);
}
.btn-block {
  background-color: azure;
  color: #000;
}

.btn-primary:hover {
  color: rgb(31, 28, 28);
  background-color: rgb(227, 229, 231);
  border-color: rgb(217, 220, 224);
}